<div class="main-content">
    <div class="container-fluid" >
        <!-- <div class="row">
                <div class="col-lg-4 col-md-6" *ngFor="let figure of figures;">
                    <div class="card card-stats">
                        <div class="card-header" [attr.data-background-color]="figure.backgroundColor">
                            <i class="material-icons">{{figure.bigIcon}}</i>
                        </div>
                        <div class="card-content">
                            <p class="category">{{figure.category}}</p>
                            <h3 class="card-title">{{figure.number}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons text-danger">{{figure.smallIcon}}</i>
                                <a *ngIf="hasLink(figure);else noLink" href="{{figure.optionalLink}}">{{figure.smallText}}</a>
                                <ng-template #noLink>{{figure.smallText}}</ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

        <!-- <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header" data-background-color="green" data-header-animation="true">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-content">
                        <div class="card-actions">
                            <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
                            <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="Refresh" (click)="loadSimpleCharts();">
                                <i class="material-icons">refresh</i>
                            </button> -->
        <!-- <button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="Change Date">
                                <i class="material-icons">edit</i>
                            </button> -->
        <!-- </div>
                        <h4 class="card-title">Daily Sales</h4>
                        <p class="category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today sales.</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header" data-background-color="orange" data-header-animation="true">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-content">
                        <div class="card-actions">
                            <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
                            <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="Refresh" (click)="loadSimpleCharts();">
                                <i class="material-icons">refresh</i>
                            </button> -->
        <!-- <button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="Change Date">
                                <i class="material-icons">edit</i>
                            </button> -->
        <!-- </div>
                        <h4 class="card-title">Completed Tasks</h4>
                        <p class="category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header" data-background-color="red" data-header-animation="true">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-content">
                        <div class="card-actions">
                            <button type="button" class="btn btn-danger btn-simple fix-broken-card">
                                <i class="material-icons">build</i> Fix Header!
                            </button>
                            <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="Refresh" (click)="loadSimpleCharts();">
                                <i class="material-icons">refresh</i>
                            </button> -->
        <!-- <button type="button" class="btn btn-default btn-simple" rel="tooltip" data-placement="bottom" title="Change Date">
                                <i class="material-icons">edit</i>
                            </button> -->
        <!-- </div>
                        <h4 class="card-title">Website Views</h4>
                        <p class="category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div> -->


    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-icon" data-background-color="purple">
                    <i class="material-icons">assignment</i>
                </div>
                <button type="button" class="btn btn-info btn-simple" rel="tooltip" data-placement="bottom" title="Refresh" (click)="refreshTable();">
                    Please refresh before using the table!
                    <i class="material-icons">refresh</i>
                </button>
                <div class="card-content" *ngIf="dataTable != null">
                    <h4 class="card-title">DataTables.net</h4>
                    <div class="toolbar">
                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                    </div>
                    <div class="material-datatables table-responsive" >
                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                            <thead>
                                <tr>
                                    <th>{{ dataTable.headerRow[0] }}</th>
                                    <th>{{ dataTable.headerRow[1] }}</th>
                                    <th>{{ dataTable.headerRow[2] }}</th>
                                    <th>{{ dataTable.headerRow[3] }}</th>
                                    <th>{{ dataTable.headerRow[4] }}</th>
                                    <th>{{ dataTable.headerRow[5] }}</th>
                                    <th>{{ dataTable.headerRow[6] }}</th>
                                    <th>{{ dataTable.headerRow[7] }}</th>
                                    <th>{{ dataTable.headerRow[8] }}</th>
                                    <th class="disabled-sorting text-right">{{ dataTable.headerRow[9] }}</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>{{ dataTable.footerRow[0] }}</th>
                                    <th>{{ dataTable.footerRow[1] }}</th>
                                    <th>{{ dataTable.footerRow[2] }}</th>
                                    <th>{{ dataTable.footerRow[3] }}</th>
                                    <th>{{ dataTable.footerRow[4] }}</th>
                                    <th>{{ dataTable.headerRow[5] }}</th>
                                    <th>{{ dataTable.headerRow[6] }}</th>
                                    <th>{{ dataTable.headerRow[7] }}</th>
                                    <th>{{ dataTable.headerRow[8] }}</th>
                                    <th class="text-right">{{ dataTable.footerRow[9] }}</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr *ngFor="let row of dataTable.dataRows; let $index = index;">
                                    <td>{{row[0]}}</td>
                                    <td>{{row[1]}}</td>
                                    <td>{{row[2]}}</td>
                                    <td>{{row[3]}}</td>
                                    <td>{{row[4]}}</td>
                                    <td>{{row[5]}}</td>
                                    <td>{{row[6]}}</td>
                                    <td>{{row[7]}}</td>
                                    <td>{{row[8]}}</td>
                                    <td class="text-right">
                                        <md-select multiple placeholder="醫生類別" name="醫生類別" [(ngModel)]="doctors[$index]" ngClass="btn btn-primary btn-round simple">
                                            <md-option *ngFor="let doc of doctype;" value="{{doc}}">
                                                 {{doc}}
                                            </md-option>
                                        </md-select>
                                        <button class="btn btn-simple btn-info btn-icon like" rel="tooltip" title="Approve" data-placement="left" (click)="approveQuestion(row)">
                                            <i class="material-icons">done</i>
                                        </button>
                                        <button class="btn btn-simple btn-danger btn-icon remove" rel="tooltip" title="Deny" data-placement="left" (click)="denyQuestion(row)">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- end content-->
            </div>
            <!--  end card  -->
        </div>
        <!-- end col-md-12 -->
    </div>


        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <form method="get" action="/" class="form-horizontal">
                        <div class="card-header card-header-text" data-background-color="rose">
                            <h4 class="card-title">搜查問題紀錄</h4>
                        </div>
                        <div class="card-content">
                            <div class="row">
                                <div class="col-sm-6 col-lg-3">
                                    <md-select multiple placeholder="醫生類別" name="醫生類別" [(ngModel)]="doctors[$index]" ngClass="btn btn-primary btn-round simple">
                                        <md-option *ngFor="let doc of doctype;" value="{{doc}}">
                                            {{doc}}
                                        </md-option>
                                    </md-select>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="form-group label-floating ">
                                        <label class="control-label"></label>
                                        <input id="Category" type="text" class="form-control" value="" placeholder="Category">
                                        <!-- <span class="material-icons form-control-feedback">done</span> -->
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="form-group label-floating ">
                                        <label class="control-label"></label>
                                        <input id="Topic" type="text" class="form-control" value="" placeholder="Topic">
                                        <!-- <span class="material-icons form-control-feedback">done</span> -->
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="form-group label-floating ">
                                        <label class="control-label"></label>
                                        <input id="Question" type="text" class="form-control" value="" placeholder="Question">
                                        <!-- <span class="material-icons form-control-feedback">done</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <!-- <label class="col-sm-2 label-on-left">Gender</label> -->
                                <div class="col-sm-6 col-lg-3 checkbox-radios">
                                    <div class="radio col-xs-3">
                                        <label>
                                            <input type="radio" name="optionsRadios" value="男"> 男
                                        </label>
                                    </div>
                                    <div class="radio col-xs-3">
                                        <label>
                                            <input type="radio" name="optionsRadios" value="女"> 女
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <input type="number" placeholder="AGE" name="input" [(ngModel)]="age" min="0" max="100" >
                                    <!-- <md-select placeholder="Age" name="Age" [(ngModel)]="age" ngClass="btn btn-primary btn-round simple">
                                        <md-option *ngFor="let n of ageList;" value="{{n}}">
                                            {{n}}
                                        </md-option> -->
                                        <!-- <md-option value="21">
                                            21
                                        </md-option> -->
                                    <!-- </md-select> -->
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="form-group label-floating ">
                                        <label class="control-label"></label>
                                        <input id="docName" type="text" class="form-control" value="" placeholder="Doctor's name">
                                        <!-- <span class="material-icons form-control-feedback">done</span> -->
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <div class="form-group label-floating ">
                                        <label class="control-label"></label>
                                        <input id="Answer" type="text" class="form-control" value="" placeholder="Answer">
                                        <!-- <span class="material-icons form-control-feedback">done</span> -->
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <my-date-range-picker [options]="myDateRangePickerOptions" (dateRangeChanged)="onDateRangeChanged($event)" placeholder="Select a date range"></my-date-range-picker>
                                </div>
                                <div class="col-sm-6 col-lg-3">
                                    <button class="btn btn-sm btn-info no-radius" type="button" (click)="searchHistory()"> 
                                         <i class="material-icons">done</i>
                                         Search</button>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-sm-6 col-lg-3">
                                    <button class="btn btn-sm btn-info no-radius" type="button" (click)="searchHistory()"> -->
                                        <!-- <i class="material-icons">done</i> -->
                                        <!-- Search</button>
                                </div>
                            </div> -->
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="row" *ngIf="results != null">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-text" data-background-color="rose">
                        <h4 class="card-title">搜查結果</h4>
                    </div>
                    <div class="card-content">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div *ngFor="let result of results; let $index = index;">
                                <div>
                                    <!-- Question -->
                                    <h4 class="blue">{{result.Age}}歲{{result.Gender}} | {{result.CreateDateTime}} | Category: {{result.Category}} | Topic: {{result.Topic}}</h4>
                                    <p>{{result.Question}}</p>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="{{ 'heading-' + $index }}">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ 'collapse-' + $index }}" aria-expanded="false" [attr.aria-controls]="'collapse-' + $index">
                                            <h4 class="panel-title">
                                                更多詳細答案
                                                <i class="material-icons">keyboard_arrow_down</i>
                                            </h4>
                                        </a>
                                    </div>
                                    <div id="{{ 'collapse-' + $index }}" class="panel-collapse collapse" role="tabpanel" [attr.aria-labelledby]="'heading-' + $index">
                                        <div class="panel-body">
                                            <div *ngFor="let answer of result['Answers']">
                                            <h4 class="blue">{{answer.DoctorName}}醫生 {{answer.AnswerDateTime}}</h4>
                                            <p>{{answer.Answer}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>